body,
html {
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: #e0e0e0;
  font-family: "Ubuntu", sans-serif;
}
header {
  background-color: rosybrown;
  position: sticky;
  top: 0;
  padding: 0 1%;
  display: flex;
  align-items: flex-end;
  z-index: 1;
}
footer {
  background-color: rosybrown;
  position: sticky;
  bottom: 0;
  padding: 1%;
  display: flexbox;
  align-items: center;
  justify-content: space-between;
}
.contact {
  padding: 0% 1%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#license {
  font-size: 10px;
}
header a {
  text-decoration: none;
  color: black;
  margin-right: 1%;
}
.logindisplay {
  position: relative;
  left: 1200px;
}
footer a {
  text-decoration: none;
  color: black;
}
.maincontainer {
  height: 100%;
  width: 100%;
  background-color: #e0e0e0;
}
.logo {
  height: 60px;
  width: 60px;
}

#socialmedia a img {
  height: 20px;
  width: 22px;
}
