.location img {
  height: 350px;
  width: 450px;
}
.location {
  outline: 1px solid black;
  flex-grow: 3;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#inputform {
  margin: 3%;
  flex-grow: 1;
}
h4 {
  font-family: cursive;
}

.content {
  margin: 2%;
}

#hotel {
  height: 400px;
  display: flex;
  outline: 1px solid black;
}
input {
  width: 125%;
}
form {
  height: 100%;
}
