#listview img {
  height: 200px;
  width: 250px;
}
#listview {
  display: flex;
  flex-wrap: wrap;
  gap: 5%;
}

.hotel {
  margin: 0.5% 2% 2% 2%;
  height: fit-content;
  width: 40%;
  display: flex;
  gap: 5%;
  background-color: lightgrey;
}

.hotel a {
  text-decoration: none;
  color: black;
}

ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
ul li {
  margin: 1%;
}
#mapview {
  display: none;
}
ul {
  list-style: none;
  display: flex;
  position: relative;
  right: 65px;
  justify-content: center;
}
