#listview img {
  height: 200px;
  width: 250px;
}
#listview {
  display: flex;
  flex-wrap: wrap;
  gap: 5%;
}

.hotel {
  margin: 0.5% 2% 2% 2%;
  height: fit-content;
  width: 40%;
  display: flex;
  gap: 5%;
  background-color: lightgrey;
}

.hotel a {
  text-decoration: none;
  color: black;
}
.hotel a:hover {
  text-decoration: none;
  color: black;
}

ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
ul li {
  margin: 1%;
}
ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hotel:hover {
  background: rosybrown;
}
.stars {
  font-size: 1.3em;
}
.star {
  color: orange;
}
